parameters:
    level: max
    paths:
        - src
    excludePaths:
        # Up to level 5
        - src/Challenges/Year2015/*
        - src/Challenges/Year2021/*
        - src/Challenges/Year2022/*
#    ignoreErrors:
#        - identifier: missingType.iterableValue